@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&family=Montserrat+Alternates:ital,wght@0,800;1,600;1,700&display=swap');

.contactFormContainer {
  margin-top: 100px;
}
.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.iconsContact {
  position: relative;
  margin: 80px;
}
.pContact {
  position: absolute;
  color: #fa6870;
  opacity: 1;
  z-index: 2;
  bottom: 40px;
  left: 42px;
  font-size: 1.5em;
  font-weight: bold;
  pointer-events: none;
}
.titleContact {
  margin-top: 120px;
  margin-left: 120px;
  color: #fa6870;
  border-top: 10px solid #fa6870;
  font-family: '';
  font-family: 'Montserrat Alternates', sans-serif;
  width: 15%;
  font-size: 30px;
  font-style: italic;
}

.iconsContact img:hover {
  cursor: pointer;
  opacity: 50%;
}
.containerForm {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.closeForm {
  position: absolute;
  top: 20px;
  right: 10%;
  width: 100px;
  padding: 5px;
  height: 30px;
  border-radius: 30px;
  color: white;
  background-color: #fa6870;
  cursor: pointer;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .titleContact {
    margin: 50px;
    width: 40%;
  }
  .iconsContact {
    margin: 10px;
  }

  .closeForm {
    right: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .titleContact {
    /* margin: 100px; */
    width: 20%;
  }

  .iconsContact {
    margin: 20px;
  }
}
