@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&family=Montserrat+Alternates:ital,wght@0,800;1,600;1,700&display=swap');

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.iconsContact {
  margin: 80px;
}
.titleContact {
  margin: 120px;
  color: #fa6870;
  border-top: 10px solid #fa6870;
  font-family: '';
  font-family: 'Montserrat Alternates', sans-serif;
  width: 15%;
  font-size: 30px;
  font-style: italic;
}
