@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&family=Montserrat+Alternates:ital,wght@0,800;1,600;1,700&display=swap');

.containerBackground {
  background-image: url(/images/background3.jpg);
  background-size: cover;
}

.containerImg {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.containerParagraphe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.containerSousTitre {
  width: 50%;
  margin: auto;
}

.titleParagraphe {
  font-size: 2rem;
  line-height: 2.5rem;
  padding-bottom: 2%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #3c84fb;
}

.paragrapheConcept {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  text-align: justify;
}

@media screen and (max-device-width: 760px) {
  .containerSousTitre {
    width: 80%;
    margin: auto;
    padding: 5%;
  }
}
@media screen and (max-device-width: 999px) {
  .containerImg {
    display: none;
  }
  .containerSousTitre {
    width: 65%;
    margin: auto;
    padding: 3%;
  }
}
