@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&family=Montserrat+Alternates:ital,wght@1,600;1,700&display=swap');

.containerInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25%;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.paragrapheInfo {
  max-width: 80%;
  padding-bottom: 40px;
  font-family: 'Krub', sans-serif;
  line-height: 35px;
  text-align: center;
}

.titleInfo {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #fa6870;
  text-decoration-thickness: 1.2rem;
  color: #fa6870;
  padding-bottom: 20px;
}

.buttonInfo {
  color: white;
  font-size: 16px;
  font-family: 'Krub', sans-serif;
  background-color: #3c84fb;
  padding: 10px;
  border-radius: 30px;
  border: none;
  width: auto;
}

.buttonInfo:focus {
  outline: none;
}

.buttonInfo:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
