@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&family=Montserrat+Alternates:ital,wght@0,800;1,600;1,700&display=swap');

.chiffresBabily {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.titreLesChiffresBabily {
  color: #FA6870;
  text-decoration: overline;
  text-decoration-thickness: 10px;
  font-size: 2rem;
  width: 100%;
  margin-left: 3%;
  height: auto;
  padding: 15% 5% 2% 0%;
}

.chiffres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding: 1%;
  color: black;
  text-align: center;

}

.notions {
  text-align: center;
  font-family: Krub, sans-serif;
}

.notion {
  min-width: 300px;
  min-height: 230px;
  position: relative;
}



.paletteA {
  fill: rgba(250,104,112,1);
  position: absolute;
}
.paletteB {
  fill: rgba(250,104,112,0.5);
  transform: rotate(-30deg);
  position: absolute;
}
.chiffreTexte {
  position: relative;
}


.chiffre{
  font-size: 3rem;
}