@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&family=Montserrat+Alternates:ital,wght@0,800;1,600;1,700&display=swap');

.chiffresBabily {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.titreLesChiffresBabily {
  color: #FA6870;
  text-decoration: overline;
  text-decoration-thickness: 10px;
  font-size: 2rem;
  width: 100%;
  margin-left: 3%;
  height: auto;
  padding: 12% 5% 2% 0%;
}

.chiffres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2%;
  padding: 1%;
  color: white;
  text-align: center;

}

.notions {
  text-align: center;
  font-family: Krub, sans-serif;
}

.notion {
  min-width: 300px;
  min-height: 230px;
  position: relative;
  margin: 45px;
}



.paletteA1 {
  fill: rgba(250,104,112,1);
  position: absolute;
  top: -30%;
  left: -1%;

}
.paletteB1 {
  fill: rgba(250,104,112,0.5);
  position: absolute;
  transform: rotate(-30deg);
  top: -30%;
  left: -1%;
}
.paletteA2 {
  fill: rgba(250,104,112,1);
  position: absolute;
  transform: rotate(-70deg);
  top: -35%;
  left: 1%;

}
.paletteB2 {
  fill: rgba(250,104,112,0.5);
  position: absolute;
  transform: rotate(-130deg);
  top: -45%;
  left: 5%;
}
.paletteA3 {
  fill: rgba(250,104,112,1);
  position: absolute;
  transform: rotate(-10deg);
  top: -30%;
  left: -1%;

}
.paletteB3 {
  fill: rgba(250,104,112,0.5);
  position: absolute;
  transform: rotate(-110deg);
  top: -42%;
  left: 5%;
}
.paletteA4 {
  fill: rgba(250,104,112,1);
  position: absolute;
  transform: rotate(160deg);
  top: -50%;
  left: -3%;
}
.paletteB4 {
  fill: rgba(250,104,112,0.5);
  position: absolute;
  transform: rotate(-160deg);
  top: -45%;
  left: 3%;
}

.chiffreTexte {
  position: relative;
}


.chiffre{
  font-size: 3rem;
}