.sectionPresEspacePro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.titlePres{
    text-align: center;
    color: #FFBB69;
  font-size: 42px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color:#FFBB69;
  text-decoration-thickness: 20px;
  line-height: 4.5rem;
  margin-left: 20px;
  margin-right: 20px;
}
.textPresPro{
    width: 60%;
    text-align: center;
}
.avionPapier{
    transform: rotate(35deg);
    padding: 10px;
}
.sectionPresBabily{
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
}
.presBerceaux{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* height: 400px;
    width: 100%; */
}
.titleBerceaux{
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: bold;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    background-image: url(/images/Baniere1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
    font-family: 'Montserrat Alternates', sans-serif;
    flex-shrink: 0;
    height: 250px;
    margin-left: 50px;
}
.presBabily{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.titleBabily{
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: bold;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
    color: white;
    background-image: url(/images/Baniere2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
    height: 250px;
    /* width: 100%; */
    font-family: 'Montserrat Alternates', sans-serif;
    flex-shrink: 0;
    margin-right: 50px;
}
.textBabily{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 1.2em;
}
.ligneRouge{
    border: 7px solid;
    border-color: #FA6870;
    border-radius: 2px;
    height: 0px;
    width: 100px;
}
.plusBleuHorizontal{
    margin-top: 5px;
    border: 7px solid;
    border-color: #3C84FB;
    width: 40px;
    border-radius: 2px;
}
.plusBleuVertical{
    margin-top: 5px;
    top: -28px;
    position: relative;
    border: 7px solid;
    border-color: #3C84FB;
    width: 40px;
    transform: rotate(90deg);
    border-radius: 2px;
}

@media screen and (max-width: 1024px){
    .textPresPro{
        width: 80%;
    }
    .titleBerceaux{
        height: 160px;

    }
    .titleBabily{
        height: 160px;
    }
    
}
@media screen and (max-width: 800px){
    .sectionPresBabily{
        flex-direction: column;
    }
    .titleBerceaux{
        height: 200px;
        margin-right: 20px;

    }
    .titleBabily{
        height: 200px;
        margin-left: 20px;
    }
    .textBabily{
        padding: 25px;
    }
}
@media screen and (max-width: 600px){
    .titlePres{
        font-size: 28px;
        line-height: 2.5rem;
    }
    .titleBerceaux{
        height: 160px;
        font-size: 1.35em;

    }
    .titleBabily{
        height: 160px;
        font-size: 1.35em;
    }
}
