.sectionPresEspacePro{
    text-align: center;
    margin-top: 150px;
}
.titlePres{
    color: #FFBB69;
  font-size: 42px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color:#FFBB69;
  text-decoration-thickness: 20px;
  line-height: 4.5rem;
}
.avionPapier{
    transform: rotate(45deg);
}
.sectionPresBabily{
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
}
.presBerceaux{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.titleBerceaux{
    text-align: center;
    color: white;
    background-image: url(/images/Baniere1.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 400px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    flex-shrink: 0;
}
.presBabily{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.titleBabily{
    text-align: center;
    color: white;
    background-image: url(/images/Baniere2.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 400px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    flex-shrink: 0;
}