@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&family=Montserrat+Alternates:ital,wght@0,800;1,600;1,700&display=swap');

.containerSimulateur {
  width: 100%;
  height: auto;
  background-color: #FAF5F0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  margin: auto;
}

/*---------------------PARTIE TEXTE GAUCHE SIMULATEUR-----------------------*/
.simulateurTexte {
  min-width: 360px;
  max-width: 700px;
  text-align: center;
  margin: 10% auto;
  padding-bottom: 5%;
}
.titreSimulateur {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #3c84fb;
  text-decoration: underline;  
  text-decoration-thickness: 1.2rem;
}
.simulateurInformation {
  font-family: 'Krub', sans-serif;
  font-size: 1.3rem;
  margin: 15% auto;

}
.lienPlusDinfos {
  font-family: 'Krub', sans-serif;
  font-size: 1.1rem;
  color: #FA6870;
  text-decoration: underline;
}

.simulateur {
  position: relative;
  min-width: 280px;
  height: 60%;
  margin: 5% auto;
  padding: 1% 7%;
  text-align: center;
  font-family:'Krub', sans-serif;
}

.etoile {
  font-size: 0.8rem;
  max-width: 80%;
  margin: auto;
  padding-bottom: 5%;
}


/*---------------------CERCLES DERRIERE SIMULATEUR DROITE-----------------------*/
.cercle1 {
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(135deg, #FA6870, #FFBB69);
  border-radius: 50%;
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.cercle2 {
  position: absolute;
  width: 450px;
  height: 450px;
  background-image: linear-gradient(90deg, #FA6870,#FFBB69);
  border-radius: 50%;
  top: 65%;
  left: 69%;
  transform: translate(-50%, -50%);
}
.cercle3 {
  position: absolute;
  width: 350px;
  height: 350px;
  background-image: linear-gradient(to top, #FA6870, #FFBB69);
  border-radius: 50%;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.cercle4 {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #f5efea;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 640px) {

  .cercle1 {
    display: none;
  }
  .cercle2 {
    display: none;
  }
  .cercle3 {
    display: none;
  }
  .cercle4 {
    display: none;
  }
  .criteres {
    background-color: #f5efea;
    border-radius: 10%;
  }
}
@media screen and (max-width: 1400px) {

  .cercle1 {
    width: 230px;
    height: 230px;
    top: 13%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .cercle2 {
  width: 400px;
  height: 400px;
  top: 62%;
  left: 67%;
  transform: translate(-50%, -50%);
  }
  .cercle3 {
  width: 300px;
  height: 300px;
  top: 58%;
  left: 20%;
  transform: translate(-50%, -50%);
  }
  .cercle4 {
    width: 550px;
    height: 550px;
  }

}


/*--------------------------------ESPACE SIMULATEUR DROITE--------------------------------*/
.criteres {
  position: relative;
  padding: 3%;
}
.criteresRecherche{
  animation-name: entering;
  animation-duration: 1s;
}
@keyframes entering {
  from {opacity: 0;}
  to {opacity: 1;}
}
.critere {
  margin-bottom: 3%;
}

.critereTitre {
  font-size: 1.1rem;
  line-height: 2.5rem;;
  font-weight: bold;
  color: #FA6870;
  margin: 2% auto;
}

input[type="radio"].demo2 {
  display: none;
}
input[type="radio"].demo2 + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 2%;
  background-color: white;
  border-radius: 50%;
  border-color: transparent;
  font-family:'Krub', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3rem;
  color: #FFBB69;
  cursor: pointer;
  text-align: center;
}
input[type="radio"].demo2:hover + label {
  background-color: #ffbb69;
  color: white;
}
input[type="radio"].demo2:checked + label {
  background-color: #ffbb69;
  color: white;
}


.champ {
  width: 35%;
  min-width: 250px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  border-radius: 50px;
  font-size: 1.5rem;
  line-height: 3rem;
}

.champSaisie {
  border-color: transparent;
  width: 70%;
  margin: auto;
  cursor: pointer;
  font-size: 1.5rem;  line-height: 3rem;
  text-align: center;
}
.champSaisie:focus {
  outline: none;
}
/* Remove arrows input/number on Firefox */
.champSaisie{
  -moz-appearance: textfield;
}
/* Remove arrows input/number on Chrome */
.champSaisie::-webkit-inner-spin-button,
.champSaisie::-webkit-outer-spin-button { 
-webkit-appearance: none;
margin:0;
}
/* Remove arrows input/number on Opéra*/
.champSaisie::-o-inner-spin-button,
.champSaisie::-o-outer-spin-button { 
-o-appearance: none;
margin:0
}



.alertError {
  color: #3C84FB;
  font-family:'Krub', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
}



.calculer {
  width: 15%;
  min-width: 200px;
  height: auto;
  margin: 4% auto;
  background-color: #FA6870;
  border-radius: 50px;
  border-color: transparent;
  font-family:'Krub', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 3rem;
  color: white;
  border: none;
  cursor: pointer;
}
.calculer:focus {
  display: none;
}
.calculer:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*--------------------------------ICONES---------------------------*/
.iconeInfo {
    color: #FA6870;
  margin: 0 15px;
  cursor: help;
}
.iconeEuro {
  color: #FFBB69;
  margin: 0 12px;
  font-size: 1.5rem;
}
.iconeClock {
  color: #FFBB69;
  margin: 0 5px;
  font-size: 1.5rem;
}



/*-------------------------------RESULTAT----------------------------*/
.criteresResultat {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.critereTitreResultat {
  font-size: 1.4rem;
  color: #FA6870;
  margin: 2% auto;
  padding-bottom: 16%;
}
.resultatEuroHeure {
  font-family:'Krub', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 4rem;
  color: #FFBB69;
  margin: 2% auto;
}
.resultatJour {
  margin: 15% auto;
}
.resultatEuroJour {
  font-family:'Krub', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
  color: #FFBB69;
  margin: 10% 0 2% 2%;
}
.iconesEuro2 {
  color: #FFBB69;
  margin: 0 10px 0 5px;
  font-size: 1.1rem;
}

.choisirCreche {
  width: 15%;
  min-width: 200px;
  height: auto;
  margin: auto;
  padding: 5%;
  background-color: #FA6870;
  border-radius: 50px;
  border-color: transparent;
  font-family:'Krub', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 3rem;
  color: white;
  border: none;
  cursor: pointer;
}
.nouveauCalcul {
  color: #3C84FB;
  border: none;
  text-decoration: underline;
  margin: 10% auto;
  cursor: pointer;
  font-family:'Krub', sans-serif;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}
