.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  background-color: transparent;
  z-index: 1;
  top: 0;
  transition: top 0.5s;
}

.logo-header {
  width: 12vw;
  min-width: 150px;
  box-sizing: border-box;
}

.nav-login {
  display: flex;
  justify-content: space-around;
}

.nav-login a {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  height: 30px;
}

.a-login {
  color: black;
}

.a-signin {
  color: white;
  background-color: #4d84f3;
}
